@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #efefdf;
  min-height: 100vh;

  /* 🔥 THIS CENTERS EVERYTHING */
  display: flex;
  align-items: center;
  justify-content: center;
}
